{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "project": ["./tsconfig.json"] },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}

// import globals from "globals";
// import tseslint from "typescript-eslint";
// import pluginReact from "eslint-plugin-react";
// // import eslintReactHook from "eslint-plugin-react-hooks";
// // const eslintReactHook = require("eslint-plugin-react-hooks");

// export default [
//   { files: ["**/*.{js,mjs,cjs,ts,jsx,tsx}"] },
//   { languageOptions: { globals: globals.browser } },
//   ...tseslint.configs.recommended,
//   pluginReact.configs.flat.recommended,
//   {
//     rules: {
//       "react/react-in-jsx-scope": "off",
//       "react/jsx-uses-react": "warn",
//       "react/no-unescaped-entities": "off",
//       "no-unused-vars": "warn",
//     },
//   },
// ];
